{% extends "base.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Here manage your website</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!---------hadfase end-->

<div class="container">
  <h2>Authoried user</h2>          
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Account No.</th>
        <th>Name</th>
        <th>Mobile No.</th>
        <th>Email</th>
        <th>Total Loan</th>
        <th>Paid amount</th>
        <th>Remaining Amount</th>
      </tr>
    </thead>
    <tbody>


      {% for post in posts %}
      <tr>
        <td>{{post.Account}}</td>
        <td>{{post.Name}}</td>
        <td>{{post.Mobile}}</td>
        <td>{{post.Email}}</td>
        <td>{{post.total}}</td>
        <td>{{post.paid}}</td>
        <td>{{post.remaining}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}